beautifulsoup4
dbt-core
dbt-postgres
dbt-redshift
dbt-snowflake
dbt-bigquery
dbt-trino
gdal
inflection
ipdb
ipython
pandas
polars[all]
psycopg2-binary
pygdaltools
pyproj
pysal
requests
scrapy
sqlalchemy
tobler
ttictoc
tqdm






