beautifulsoup4
cesiumpy
dbt-core
dbt-postgres
dbt-redshift
dbt-snowflake
dbt-bigquery
dbt-trino
inflection
ipdb
ipython
pandas
polars[all]
psycopg2-binary
pygdaltools
python-dotenv
pyproj
pysal
pyspark
requests
scipy
shapely
scrapy
snowflake-connector-python
sqlalchemy
tobler
traitlets
ttictoc
tqdm



